<div class="container">

  <div class="row">
    <div class="col-md-3 p-5 w3-center w3-animate-opacity">
      <img src="../assets/profil.jpg" width="150px" height="150px" class="circle" alt="">
      <div class="details">
          <h5>Bonjour !!!</h5>
          <p><i class="fa-solid fa-phone"></i> +261 34 83 461 49</p>
          <p><i class="fa-solid fa-phone"></i> +261 32 39 911 16</p>
          <p>mamiirakotomamonjy&#64;gmail.com</p>
          <button (click)="downloadCV()" class="btn" style="width: 200px; background-color: #61bdf6;">
              <i class="fa fa-download"></i> CV
          </button>
      </div>
  </div>
  

    <div class="col-md-9 w3-animate-opacity">
      <div class="details p-4">
        <h3 class=" blue" >Rakotomamonjy Mamisoa ,</h3>
        <p class="presentation">
          Je suis un développeur web back-end et front-end.
          <br>
          Je travaille sur tout type de projet, tant qu'il concerne le développement de sites web et qu'il est légal.
        </p>
        <p> Les frameworks que j'utilise et que je préfère sont Symfony et Angular <br>
          deux frameworks très puissants qui réduisent considérablement le temps de réalisation des projets.
        </p>
        <p> 
            <i class="fa-brands fa-symfony fa-2x"  style="font-size: 50px;" ></i>&nbsp;&nbsp;&nbsp;
            <i class="fa-brands fa-angular  fa-2x" style="font-size: 55px;"></i>&nbsp;&nbsp;&nbsp;
        </p>
      </div>
    </div>

  </div>
</div>


<div class="container">
  <div class="row p-5">
    <div class="col-md-4 w3-animate-opacity">
      <div>
        <h4 class="b-b blue" > Profil </h4>
        <p> 
          Rakotomamonjy Mamisoa <br>
          24 ans <br>
          Celibataire <br>
        </p>
      </div>
    </div>

    <div class="col-md-4 w3-animate-opacity">
      <div>
        <h4 class="b-b blue" > Etudes </h4>
        <p> 
          Licence en informatique en 2024 Chez CNTEMAD <br>
          Diplômé du baccalauréat Malagasy en 2019 <br>
        </p>
      </div>
    </div>

    <div class="col-md-4 w3-animate-opacity">
      <div>
        <h4 class="b-b blue" > Expériences </h4>
        <p> 
          Developpeur web à DIGITEC <br>
          Formation chez NiirInfo en 2023 <br>
          Infographiste à MADITALY en 2022 <br>
        </p>
      </div>
    </div>
  </div>
</div>

<h4 class="another text-center blue" style="text-align: center;" >Autres languages et détails de ce que je pratique</h4>

<div class="container-fluid  w3-animate-opacity">
  <div class="row">
    <div class="col-md-4 mt-4">
      <div class="w3-center">
      <p class="blue" > Les bases (HTML, Javascript, Php,...) </p>
        <i class="fa-brands fa-html5 fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa-brands fa-js fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa-brands fa-css3 fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa-brands fa-php fa-2x"></i>&nbsp;&nbsp;&nbsp;
      </div>
    </div>

    <div class="col-md-4 mt-4">
      <div class="w3-center">
      <p class="blue"> Les framework ordinaires </p>
        <i class="fa-brands fa-bootstrap fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i >Jquery</i>&nbsp;&nbsp;&nbsp;
        <i >AJAX</i>&nbsp;&nbsp;&nbsp;
      </div>
    </div>

    <div class="col-md-4 mt-4">
      <div class="w3-center">
      <p class="blue"> Languages d'applications desktop </p>
        <i class="fa-brands fa-python fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa-solid fa-c fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa-brands fa-java fa-2x "></i>&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
</div>

<router-outlet />
