.circle{
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255) ;
}

.b-b{
    width: max-content;
    font-weight: bold ;
    border-bottom: 5px solid #61bdf6;
}

.another{
    
    font-weight: bold ;
}

.blue{
    color: #61bdf6 ;
}

.round {
    width: 180px; /* ajustez selon vos besoins */
    height: 180px; /* ajustez selon vos besoins */
    background-color: #f0f0f0; /* couleur de fond pour simuler un rond */
    border-radius: 50%; /* pour rendre l'élément rond */
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.circle {
    position: relative;
    z-index: 2;
}
