.circle{
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255) ;
}

.b-b{
    width: max-content;
    font-weight: bold ;
    border-bottom: 5px solid #61bdf6;
}

.another{
    
    font-weight: bold ;
}

.blue{
    color: #61bdf6 ;
}