.b-b{
    width: max-content;
    font-weight: bold ;
    border-bottom: 5px solid #61bdf6;
}

.another{
    
    font-weight: bold ;
}

.blue{
    color: #61bdf6 ;
}

.round {
    margin: auto ;
    width: 170px; /* ajustez selon vos besoins */
    height: 180px; /* ajustez selon vos besoins */
    background-image: url('/assets/profil.jpg'); /* image de fond */
    background-size: contain ; /* pour ajuster l'image à la taille de l'élément */
    border-radius: 50%; /* pour rendre l'élément rond */
    z-index: 1;
    background-repeat: no-repeat ;
    border: #61bdf6 solid 2px ;
}

/* Animation pour afficher les lettres une par une */
.animated-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0; /* Commence à une largeur de 0 pour l'animation */
    animation: typing 3s steps(30) 1s forwards, blinkCaret 0.75s step-end infinite;
    color: #61bdf6; /* Couleur de texte ou la couleur de votre choix */
  }
  
  /* Définir l'animation de l'effet de saisie */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  /* Animation du curseur clignotant à la fin du texte */
  @keyframes blinkCaret {
    50% {
      border-color: transparent;
    }
  }
  
  .animated-text::after {
    content: '|'; /* Ajout du curseur clignotant à la fin */
    border-right: 2px solid #61bdf6; /* Couleur du curseur */
    padding-left: 5px;
    display: inline-block;
    animation: blinkCaret 0.75s step-end infinite;
  }
  

