<div class="container">

  <div class="row">
    <div class="col-md-3 p-5 w3-center">
        <img src="../assets/profil.jpg" width="150px" height="150px" class="circle" alt="">
        <div class="details">
            <h5>Bonjour !!!</h5>
            <p> <i class="fa-solid fa-phone"></i> +261 34 83 461 49 </p>
            <p> <i class="fa-solid fa-phone"></i> +261 32 39 911 16 </p>
            <p>mamiirakotomamonjy&#64;gmail.com </p>
        </div>
    </div>

    <div class="col-md-9">
      <div class="details p-4">
        <h3 class=" blue" >Rakotomamonjy Mamisoa ,</h3>
        <p class="presentation">
          Je suis un developpeur web back-end et front end,
          <br>
          Aucune limite sur le type projet tant que ca concerne le developpement de site web et que c'est légal
        </p>
        <p> Les frameworks dont j'utilise et que je préfere sont Symfony et Angular <br>
            Deux framework très puissant et qui réduit considerablement le temps de réalisation de projet </p>
        <p> 
            <i class="fa-brands fa-symfony fa-2x"  style="font-size: 50px;" ></i>&nbsp;&nbsp;&nbsp;
            <i class="fa-brands fa-angular  fa-2x" style="font-size: 55px;"></i>&nbsp;&nbsp;&nbsp;
        </p>
      </div>
    </div>

  </div>
</div>


<div class="container">
  <div class="row p-5">
    <div class="col-md-4">
      <div>
        <h4 class="b-b blue" > Profil </h4>
        <p> 
          Rakotomamonjy Mamisoa <br>
          24 ans <br>
          Celibataire <br>
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <h4 class="b-b blue" > Etudes </h4>
        <p> 
          Licence en informatique en 2024 Chez CNTEMAD <br>
          Diplômé du baccalauréat Malagasy en 2019 <br>
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <h4 class="b-b blue" > Expériences </h4>
        <p> 
          Developpeur web à DIGITEC <br>
          Formation chez NiirInfo en 2023 <br>
          Infographiste à MADITALY en 2022 <br>
        </p>
      </div>
    </div>
  </div>
</div>

<h4 class="another text-center blue" style="text-align: center;" >Autres languages et détails de ce que je pratique</h4>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mt-4">
      <div class="w3-center">
      <p> Les bases (HTML, Javascript, Php,...) </p>
        <i class="fa-brands fa-html5 fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa-brands fa-js fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa-brands fa-css3 fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa-brands fa-php fa-2x"></i>&nbsp;&nbsp;&nbsp;
      </div>
    </div>

    <div class="col-md-4 mt-4">
      <div class="w3-center">
      <p> Les framework ordinaires </p>
        <i class="fa-brands fa-bootstrap fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i >Jquery</i>&nbsp;&nbsp;&nbsp;
        <i >AJAX</i>&nbsp;&nbsp;&nbsp;
      </div>
    </div>

    <div class="col-md-4 mt-4">
      <div class="w3-center">
      <p> Languages d'applications desktop </p>
        <i class="fa-brands fa-python fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa-solid fa-c fa-2x"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa-brands fa-java fa-2x "></i>&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
</div>

<router-outlet />
